

.MuiDataGrid-root.MuiDataGrid-root--densityStandard.MuiDataGrid-withBorderColor.css-1c7bike-MuiDataGrid-root{
	border-style: none;
	padding-top: 2vh;
}

.css-1hqxfpk-MuiDataGrid-root {
	border-style: none;
}
.css-13fg1bp-MuiDataGrid-root {
	border-style: none;
}
.css-fcokyu-MuiDataGrid-root {
	border-style: none;
}

.css-1dnvmcj {
	display: flex;
	align-items: center;
	color: rgb(18, 25, 38);
	padding: 24px;
}

.css-1rb6r2f-MuiPaper-root-MuiCard-root {
     box-shadow: none; 
}

.my-title{
	font-size: 18px !important;
}
.my-confirm-button{
	font-size: 12px !important;
	color:white !important;
	background-color: #00c853 !important;
}

.my-cancel-button{
	font-size: 12px !important;
}


.css-wef2z7-MuiInputBase-root-MuiOutlinedInput-root{
	border-radius: 10px !important;
	margin-bottom: 10px;
}

.css-ysbbdy-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
	border-radius: 10px !important;
	margin-bottom: 10px;
}

.css-6mxun0-MuiInputBase-root-MuiOutlinedInput-root{
	border-radius: 10px !important;
}

.css-1lvytzd-MuiInputBase-root-MuiOutlinedInput-root{
	border-radius: 10px !important;
}
.css-wb57ya-MuiFormControl-root-MuiTextField-root{
	margin-bottom: 10px !important;

}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
	width: 100% !important;
	border-radius: 10px !important;
}

.css-wef2z7-MuiInputBase-root-MuiOutlinedInput-root{
	margin-bottom: 3px !important;
}
.css-ysbbdy-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
	margin-bottom: 3px !important;

}
.css-3zu0tl-MuiCardContent-root:last-child{
	padding-bottom: 0 !important;
}


.css-1o3wvgz-MuiPaper-root-MuiTableContainer-root {
	box-shadow: none !important;
}

.css-1r1nyqd-MuiInputBase-root-MuiInput-root{
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 5px;
	outline: none;
}

.css-1r1nyqd-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before {
    border-bottom: none !important;
	content: "";
	
}
.css-1r1nyqd-MuiInputBase-root-MuiInput-root:after{
    border-bottom: none !important;
}


.MuiAutocomplete-hasPopupIcon.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root{
	border-radius: 10px;
}



/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
	width: 4px; /* Anchura de la barra de desplazamiento */
  }
  
  /* Estilos para el pulgar de desplazamiento */
  ::-webkit-scrollbar-thumb {
	background-color: #c5c5c5; /* Color de fondo del pulgar */
	border-radius: 4px; /* Radio de borde del pulgar */
  }